<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kid Dev Test</title>
</head>
<body>
<div class="header-container">
    <div class="title-container">
        <h2>문제 1</h2>
    </div>
</div>
<div class="section-container">
    <p>
        1부터 16까지 2차원 배열이 있습니다. <br><br>

        해당 배열을 밖에 배열은 반시계방향으로 한칸씩 이동시키고 안쪽 배열은 시계 반향으로 이동하여 출력하시오. <br><br>

        - 개발 언어 선택은 자유 C,C++,PHP,python,Javascript,JAVA 등 <br><br>

        - 출력형식은 해당 언어별로 자유롭게 출력 <br><br>

        - 2차원 배열은 초기값으로 설정 <br><br>
    </p>

    <h2>초기값</h2>

    <div class="article-container">

    </div>
</div>
<div class="footer-container"></div>
</body>
</html>