<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kid Dev Test</title>
</head>
<body>
<div class="header-container">
    <div class="title-container">
        <h2>KID DEV</h2>
    </div>
</div>
<div class="section-container">
    <p><a href="/array/detail">문제1</a></p>
    <p><a href="/issue/detail">문제2</a></p>
    <p><a href="/calendar/detail">문제3</a></p>
</div>
<div class="footer-container">

</div>
</body>
</html>